@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

.App {
  background-color: linear-gradient(right, #ff0000, #00ff00);
  scroll-behavior: smooth;
}

.Nav{
  background-color: rgb(236, 157, 47);
} 

.Nav h1{
  padding: 4px;
  border-radius: 10px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(243, 194, 48);
}

@media (max-width:640px) {
  .Logo{
    display: none;
  }
  
}
.Product{
  background-color: rgb(232, 192, 136);
  position: static;
}